<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row p-3 text-center">
            <p class="m-0 myName">Created and Designed by <strong>Mohammed Helal</strong>
                <span class="p-2">
                    <a class="text-decoration-none text-white" href="">
                        <i class="fa-brands fa-github github"></i>
                    </a>
                </span>
                <span class="p-2">
                    <a class="text-decoration-none text-white" href="">
                        <i class="fa-brands fa-linkedin linkedin"></i>
                    </a>
                </span>
            </p>
        </div>
    </div>
</footer>