<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" routerLink="/home">Movies App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/series">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/popular">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/top-rated">Top Rated</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/upcoming">Upcoming</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/now-playing">Now Playing</a>
        </li>
      </ul>
      <ul class="ms-auto navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" *ngIf="isLogin.getValue()" [routerLinkActive]="'test'" routerLink="/login">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
