<form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">

    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>

    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control mb-3">
    <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert border border-danger">
        <p *ngIf="loginForm.get('email')?.errors?.['required']">Email Required</p>
        <p *ngIf="loginForm.get('email')?.errors?.['email']">Please include at least 1 uppercase, 1 lowercase and number
        </p>
    </div>

    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control mb-3">
    <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
        class="alert border border-danger">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">Password Required</p>
        <p *ngIf="loginForm.get('password')?.errors?.['pattern']">Please enter a valid password</p>
    </div>

    <p class="text-white">Don't have an account ? 
        <a class="text-white" [routerLink]="['/register']" routerLinkActive="router-link-active">Register now!</a>
    </p>

    <button type="submit" class="btn btn-info float-end">Login</button>
</form>