<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="w-100" [src]="imgPrefix+movieDetails?.poster_path" alt="">
        </div>
        <div class="col-md-8">
            <h2>{{movieDetails?.title}}</h2>
            <p class="text-muted p-3">{{movieDetails?.overview}}</p>
            <p class="text-white">Language : {{movieDetails?.original_language.toUpperCase()}}</p>
            <p class="text-white">Release date: {{movieDetails?.release_date}}</p>
            <span class="vote p-3">{{movieDetails?.vote_average.toFixed(1)}}</span>
        </div>
    </div>
</div>