<div class="p-4 w-75 m-auto">
    <input type="text" [(ngModel)]="term"  class="form-control bg-transparent text-white" name="" id="">
</div>


<div class="row">
    <div class="col-md-4 py-3">
        <div class="brdr w-25 mb-3"></div>
        <h3 class="py-2">Trending <br> Movies <br> To Watch Now</h3>
        <p class="secondFontColor py-2">Most watched movies by days</p>
        <div class="brdr w-100 mt-3"></div>
    </div>
    
    <div *ngFor="let movie of trendingMoviesData|search:term" class="col-md-2 p-3">
        <div [routerLink]="['/moviedetails', movie.id]" routerLinkActive="router-link-active"  class="movie position-relative">
            <img class="w-100" [src]="imgPrefix + movie.poster_path" alt="" />
            <h4 class="my-2 h6">{{movie.title}}{{movie.name}}</h4>
            <div class="vote position-absolute">{{movie.vote_average.toFixed(1)}}</div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-4 py-3">
        <div class="brdr w-25 mb-3"></div>
        <h3 class="py-2">Trending <br> Series <br> To Watch Now</h3>
        <p class="secondFontColor py-2">Most watched series by days</p>
        <div class="brdr w-100 mt-3"></div>
    </div>
    
    <div *ngFor="let serie of trendingSeriesData|search:term" class="col-md-2 p-3">
        <div [routerLink]="['/seriedetails', serie.id]" routerLinkActive="router-link-active" class="movie position-relative">
            <img class="w-100" [src]="imgPrefix + serie.poster_path" alt="" />
            <h4 class="my-2 h6">{{serie.title}}{{serie.name}}</h4>
            <div class="vote position-absolute">{{serie.vote_average.toFixed(1)}}</div>
        </div>
    </div>
</div>
