<form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">

    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>


    <label for="firstName">First Name</label>
    <input formControlName="firstName" type="text" class="form-control mb-3">
    <div *ngIf="registerForm.get('firstName')?.errors && (registerForm.get('firstName')?.touched)" class="alert border border-danger">
        <p *ngIf="registerForm.get('firstName')?.errors?.['required']">First Name Required</p>
        <p *ngIf="registerForm.get('firstName')?.errors?.['minlength']">Minimum length 3 Letters</p>
        <p *ngIf="registerForm.get('firstName')?.errors?.['maxlength']">Maximum length 12 letters</p>
    </div>

    <label for="lastName">Last Name</label>
    <input formControlName="lastName" type="text" class="form-control mb-3">
    <div *ngIf="registerForm.get('lastName')?.errors && registerForm.get('lastName')?.touched" class="alert border border-danger">
        <p *ngIf="registerForm.get('lastName')?.errors?.['required']">Last Name Required</p>
        <p *ngIf="registerForm.get('lastName')?.errors?.['minlength']">Minimum length 3 Letters</p>
        <p *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">Maximum length 12 letters</p>
    </div>

    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control mb-3">
    <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert border border-danger">
        <p *ngIf="registerForm.get('email')?.errors?.['required']">Email Required</p>
        <p *ngIf="registerForm.get('email')?.errors?.['email']">Please include at least 1 uppercase, 1 lowercase and number</p>
    </div>

    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control mb-3">
    <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert border border-danger">
        <p *ngIf="registerForm.get('password')?.errors?.['required']">Password Required</p>
        <p *ngIf="registerForm.get('password')?.errors?.['pattern']">Please enter a valid password</p>
    </div>

    <button type="submit" class="btn btn-info float-end">Register</button>
</form>